{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block about_us_active %} class="active" {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-12 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background" >
     
      <section class="section section-lg bg-default" >
        <div class="container container-bigger">
          <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3>hi, we are besTicket</h3>
              <div class="divider divider-decorate"></div>
              <p class="heading-5">Better, Faster, Cheaper </p>
              <p class="text-spacing-sm">Due to the large number of airlines each with its own website for providing tickets, searching for the best suitable flight can be a complicated and tedious task for users since they should visit every single airlines' website to check the availability of the tickets and choose the best one. Solving this problem by presenting an all-in-one website where users can search for a ticket in all the available companies at once not only will decrease the users' waste time, but also increase their satisfaction. In this project, we are trying to solve the mentioned problems by implementing a system containing airlines as providers, and customers that want to purchase plane tickets.</p>
              
            </div>
            <div class="col-md-10 col-lg-6"><img src="static/images/concordia.png" alt="" width="720" height="459"/>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}