{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">Message: {{ message }}</div>
{% endfor %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
  <!-- Site Title-->
  <title>{% block title %} {% endblock %} </title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"> 
  <link rel="icon" href="static/images/logo-inverse-208x46.ico" type="image/x-icon">
  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
  <link rel="stylesheet" href="static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


 

  
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet" href="static/themes/alertify.core.css">
  <link rel="stylesheet" href="static/themes/alertify.bootstrap.css" id="toggleCSS">  

 


  <!--[if lt IE 10]>
  <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
  <script src="js/html5shiv.min.js"> </script>
  <![endif]-->
</head>
<body>

  <style>
   
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  
    .alert-error {
        padding: 12px;
        border-radius: 3px;
        font-size: 1.2rem;
        margin-bottom: 16px;
        border: 2px solid darkred;
        background-color: red;
        color: white;
      }
      .alert-success {
         padding: 12px;
         border-radius: 3px;
         font-size: 1.2rem;
         margin-bottom: 16px;
         border: 2px solid darkred;
         background-color: green;
         color: white;
       }
      .alert-info {
        padding: 12px;
        border-radius: 3px;
        font-size: 1.2rem;
        margin-bottom: 16px;
        border: 2px solid orange;
        background-color: yellow;
        color: black;
      }
      .alertify-logs{ 
        width: 800px;    
        font-size: xx-large;
      }
</style>

<!-- Page preloader-->
<div class="page-loader">
  <div class="page-loader-body">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"> </div>
        </div>
        <div class="gap-patch">
          <div class="circle"> </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"> </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"> </div>
        </div>
      </div>
      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-->
<div class="page">
  <!-- Page Header-->
  <header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-corporate">
      <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="130px" data-lg-stick-up-offset="100px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
        <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
        <div class="rd-navbar-top-panel rd-navbar-collapse novi-background">

        </div>
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand-name" id="home" href="/"><img class="logo-default" src="static/images/logo-default-208x46.png" alt="" width="120" height="46"/><img class="logo-inverse" src="images/logo-inverse-208x46.ico" alt="" width="120" height="46"/></a></div>
          </div>
          <div class="rd-navbar-aside-center">
            <div class="rd-navbar-nav-wrap">
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li  {% block home_active %} {% endblock %}><a id="home" href="/">Home</a>
                </li>
                <li  {% block about_us_active %} {% endblock %}><a id="about-us" href="/aboutus">About Us</a>
                </li>
                <li  {% block contacts_active %} {% endblock %}><a id="contacts" href="/contacts">Contacts</a>
                </li> 
 

              {% block rd_navbar_nav_active %} {% endblock %}


              <li {% block faq_active %} {% endblock %}>
                <a href="/faq"><i class="fa fa-question-circle" style="font-size:35px" ></i></a>
              </li> 
                
            </ul>
          </div>
         
        </div>
        {% if session['_user_id'] %}

        <li class=  "rd-navbar-aside-right dropdown">
          <a href="#" class="dropdown-toggle button button-sm button-secondary button-nina" data-toggle="dropdown" role="button" aria-expanded="false">  {{session['user_name']}}<span class="caret"></span></a>
         
           <ul class="dropdown-menu">
             <li class= "dropdown-header" style="text-align: -webkit-center;">Dashboard</li>
             <li style="text-align: -webkit-center;"><a href="/logout" > Log out </a></li>
             <li style="text-align: -webkit-center; margin-top: 10px;"><a href="/profile" > Edit profile</a></li>
                          
           </ul>
       
  
          {% else %}
          <div class="rd-navbar-aside-right"><a class="button button-sm button-secondary button-nina" href="/login">Sign in</a></div>
        </div>

        {% endif %}
     
      </nav>
    </div>
  </header>
  
  <section class="section">
    <div class="swiper-form-wrap">
      <!-- Swiper-->
      <div class="swiper-container swiper-slider swiper-slider_height-1 swiper-align-left swiper-align-left-custom context-dark bg-gray-darker" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
         
     
          <div class="swiper-slide" data-slide-bg="static/images/swiper-slide-3.jpg">
            <div class="swiper-slide-caption">
              <div class="container container-bigger swiper-main-section" style="padding-bottom: 430px; padding-up: 430px ;">   
                <div class="row row-fix justify-content-sm-center justify-content-md-start">
                    <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                      <h3>Better, Faster, Cheaper</h3>
                      <p class="text-spacing-sm"></p></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper controls-->
       
      </div>
      <form method="POST">
        <div class="container container-bigger form-request-wrap form-request-wrap-modern">
          
           
           
           
                {% block content %} {% endblock %}
            
        
            </div>
          </div>
        </div>
    </form>
    </div>
  </section>

  <!-- our advantages-->

  <!-- Tips & tricks-->



  <!-- Footer Minimal-->
  <footer class="section page-footer page-footer-minimal novi-background bg-cover text-center bg-gray-darker">
    <div class="container container-wide">
      <div class="row row-fix justify-content-sm-center align-items-md-center row-30 copyright_cite">
        <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a id="home" href="/"><img class="inverse-logo" src="static/images/logo-inverse-208x46.ico" alt="" width="150" height="46"/></a></div>
        <div class="col-md-10 col-lg-7 col-xl-4">
          <p class="right">&#169;&nbsp;
            <span class="copyright-year"></span>
             All Rights Reserved. Design&nbsp;by&nbsp;
             <a class= "website_copyright" href="https://www.templatemonster.com">TemplateMonster</a>
            </p>
        </div>
        <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
          <ul class="group-xs group-middle">
            <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="https://www.facebook.com/profile.php?id=100078067574552" target="_blank"></a></li>
            <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="https://www.instagram.com/besticket.ir/?hl=en " target="_blank"></a></li>
            <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="mailto:besticketir@gmail.com" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"> </div>
<!-- Javascript <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script> -->



<script src="static/js/core.min.js"></script>
<script src="static/js/script.js"></script>

<script src="static/js/alertify.min.js"></script>

<script type="text/javascript">
  $('.alertifly-button').on("click", function(e) {
    e.preventDefault();
    var data = {};
    var data;
    for (var i=0;i < $('input').size();i++)
    {
       data [ $('input').get(i).name ] =  $('input').get(i).value ;
    }
    //if (data.email == "")  {alertify.error("not fill"); return false;}
    $.ajax({
        type:'POST',
        data: data ,
        success:function(result,a,b)
        {
          $('.alertifly-button').off()
          $('.alertifly-button').click()
          alertify.success("Success log message");
        },
        error: function (xhr, status, error) {
          alertify.error(xhr.statusText);
        }
    })
});

</script>

<script>
  let faqLabel=document.querySelectorAll(".faq-label");

  faqLabel.forEach(item=>item.onclick=()=>{
     //selektuje Answer
     item.nextElementSibling.classList.toggle('active');
     
     
     let labelIcon=item.lastElementChild;
     let icons=labelIcon.lastElementChild;
     icons.classList.toggle('rotate');
   
     
  })
  
</script>

{% block other_script %} {% endblock %}
<!-- coded by barber-->
</body>
</html>

