{% extends 'base.html' %}
{% block title %} FAQ {% endblock %}
{% block faq_active %} class="active" {% endblock %}

{% block content %}

<div class="row row-fix justify-content-sm-center justify-content-lg-end">
    <div class="col-lg-12 col-xxl-12">
      <div class="form-request form-request-modern bg-gray-lighter novi-background">
       
        <form class="rd-mailform form-fix">
         
       
        <div class="faq-header">Frequently Asked Questions</div>

        
          
          <div class="faq-question">
            <input id="q2" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q2" class="panel-title">How can I create new account?</label>
            <div class="panel-content">just click on create new acount and enter all reqireds from here:  <a href="/sign-up" target="_blank">Create new account</a> </div>
          </div>


          <div class="faq-content">
            <div class="faq-question">
              <input id="q1" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q1" class="panel-title">How can I edit my profile</label>
              <div class="panel-content">After login you can press the right button at the top right of the page and click edit profile or from here: <a href="/edit-user" target="_blank">edit profile</a> </div>
            </div>


          
          <div class="faq-question">
            <input id="q3" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q3" class="panel-title">How can i contact you?</label>
            <div class="panel-content">Yon find us here &nbsp; <a href="/contacts" target="_blank">contact us</a></div>
          </div>
        </div>
  
             
            <div class="faq-content">
          <div class="faq-question">
            <input id="q1" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q1" class="panel-title">How can I‌ find and get a new ticket</label>
            <div class="panel-content">Just filter your source, destination and other filters to find your favorite flight </div>
          </div>
  

        </form>


         </div>
      </div>
</div>



<style>


    @media (min-width: 992px)
    .swiper-form-wrap .form-request {
    max-width: 100% !important;
    }

    

    
    .faq-header{
      font-size: 42px;
      border-bottom: 1px dotted #ccc;
      padding: 24px;
    }
    
    .faq-content {
      margin: 0 auto;
    }
    
    .faq-question {
      padding: 20px 0;
      border-bottom: 1px dotted #ccc;
    }
    
    .panel-title {
      font-size: 24px;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 10px 10px 0 48px;
      display: block;
      cursor: pointer;
    }
    
    .panel-content {
      font-size: 20px;
      padding: 0px 14px;
      margin: 0 40px;
      height: 0;
      overflow: hidden;
      
      position: relative;
      opacity: 0;
      -webkit-transition: .4s ease;
      -moz-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;
    }
    
    .panel:checked ~ .panel-content{
      height: auto;
      opacity: 1;
      padding: 14px;
    }
    
    .plus {
      position: absolute;
      margin-left: 20px;
      margin-top: 4px;
      z-index: 5;
      font-size: 42px;
      line-height: 100%;
      -webkit-user-select: none;    
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-transition: .2s ease;
      -moz-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
    }
    
    .panel:checked ~ .plus {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .panel {
      display: none;
    }
</style>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        console.log("Hello");

        this.classList.toggle("active");
        console.log("Hello");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

</script>
{% endblock %}