{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="flight_information" href="/flight_information">Flight information</a></li> {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-12 col-xxl-6">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
      <h4> Terms and condition *</h4>
      <!-- RD Mailform-->
      <form class="rd-mailform form-fix">
        <div class="row row-20 row-fix">             
        </div>
       
        
        <div class="row">
		 
                    
           <div class="col-xs-12 qtr-txt-maroon">
                    
              <div class="whitefontP">
                   <ul class="bulleted-list">
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Valid for any Airways tickets purchased either directly from Airways or through travel agents. If you have booked your ticket through a travel agent, please contact them directly.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Our Airways is entitled to change its flexibility policy with immediate effect and without prior notice.</li>
                      </ul>
                      <p><b>Keep your ticket open</b><br>
                      </p>
                      <ul class="bulleted-list">
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Keep your fully unutilized ticket open for two years from original ticket issue date (the date the first booking was made) and apply the value towards future travel.</li>
                      </ul>
                      <p><b style="background-color: transparent;">Changes</b><br>
                      </p>
                      <ul class="bulleted-list">
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Date and route changes should be made prior to the scheduled departure time that you are booked on. If you have booked directly with Our Airways, you may do this through our website or Contact Centres. If you have booked through a travel agency, please contact them directly.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>All original and new travel must be completed by 30 September 2022. The time between the first and last flight on the booking must not exceed 1 year. Rebooking fees and service fees will be waived.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Rebook into the same booking class (RBD) and ticketed fare basis as the original ticket.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Any difference in fare, taxes, fees, charges and surcharges will apply</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>If your travel is beyond 30 September 2022, ticketed fare basis conditions apply including any difference in fare, taxes, fees, charges and surcharges, and any applicable rebooking and no-show fees.</li>
                      </ul>
                      <p><b style="background-color: transparent;">Refund to the original form of payment</b><br>
                      </p>
                      <ul class="bulleted-list">
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Refund requests must be made prior to the scheduled departure time that you are booked on. If you have booked directly with Our Airways, you may do this through our website by clicking here. If you have booked through a travel agency, please contact them directly.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>If you have booked directly with us, you may refund unutilized refundable value provided the refund is requested within 2 years from the date of issue of the document number presented for refund. If you have booked through a travel agency, please contact the travel agency on the refund deadline.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>Refund penalties and no-show fees will be waived if all flights on the booking were for departure up to 30 September 2022.</li>
                      <li><span class="icon-arrow-strong icon-rotate-rtl"></span>&nbsp;Refund amount will be credited using the original form of payment used to purchase the ticket.</li>
                      <p><b style="background-color: transparent;">* : This text has been copied from the <a href=" https://www.qatarairways.com/en/travel-with-confidence.html#Terms" target="_blank">Qatar Airways website</a></b><br>

                        
                       
                    </ul>
             </div>
       </div>
    </div>
       
       <a class=" button button-sm button- button-nina" id="payment" href="/search_post">back to search page</a>

        </div>
      </form>
    </div>
  </div>
{% endblock %}