{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="flight_information" href="/flight_information">Flight information</a></li> {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-12 col-xxl-6">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
      <h4> information about selected flight and pay the price maybe!</h4>
      <!-- RD Mailform-->
      <form class="rd-mailform form-fix">
        <div class="row row-20 row-fix">             
        </div>
                   
        <a >information about your flight ,   information about your flight,   information about your flight,   information about your flight,   information about your flight,   information,   information,   information,    </a>
       <a class=" button button-sm button- button-nina" id="payment" href="/payment">pay for it</a>

        </div>
      </form>
    </div>
  </div>
{% endblock %}