{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block home_active %} class="active" {% endblock %}


{% block home_new_feature %}      
<a class="trigger_popup_fricc neonText newFeature">New Feature</a>

<div class="hover_bkgr_fricc ">
    <span class="helper "></span>
    <div>
        <div class="popupCloseButton ">&times;</div>

        <p style=" font-weight: bold;color:  blue;font-size: 25px; "> Sprint 1 <hr style="margin-top: 9px!important;border: 5px solid;border-radius: 5px;"></p>
        <p style="font-weight: bold;font-size: larger;color: black;">User account page<br/>
          Add new Template for whole website <br />
          Add login, Sign in and log out pages <br />
          Add contact us and about us pages      <br />
           add Home page   <br /></p>
        <p style=" font-weight: bold;color:  blue;font-size: 25px; "> Sprint 2 <hr style="margin-top: 9px!important;border: 5px solid;border-radius: 5px;"></p>
        <p style="font-weight: bold;font-size: larger;color: black;">User account page<br/>
          Edit profile page <br />
          Almost compelete shopping process
          Add admin page      <br />
          Add new ticket      <br />
          Edit tickets <br /> </p>

        <p style=" font-weight: bold;color:  blue;font-size: 25px; "> Sprint 3 <hr style="margin-top: 9px!important;border: 5px solid;border-radius: 5px;"></p>
        <p style="font-weight: bold;font-size: larger;color: black;">FAQ page<br/>
              Complete shopping process<br />
              Filter search result <br />
              Add sold ticket to user history  <br />
           <br /> </p>
    </div>
</div>
{% endblock %}

{% block content %}
        <div class="row row-fix justify-content-sm-center justify-content-lg-end">
          <div class="col-lg-6 col-xxl-5">
            <div class="form-request form-request-modern bg-gray-lighter novi-background">
              <h4>Find your Flight</h4>
              <!-- RD Mailform-->
              <form class="rd-mailform form-fix">
                <div class="row row-20 row-fix">
            
                  <div class="col-sm-12 col-lg-6">
                      <div class="form-wrap form-wrap-validation">
                        <label class="form-label-outside">From</label>
                        <div class="form-wrap form-wrap-inline">
                         
                          <select name="source_name" id="source_name" class="form-input select-filter"  data-minimum-results-for-search="Infinity" name="city">
                            <option id="sourceid" name="sourceid" value="Choose the source">Choose the source</option>
                            {% for source in source %}
                            <option id="sourceid" name="sourceid" value="{{source}}">{{source}}</option>
                            {% endfor %}
                         </select>


                        </div>
                      </div>
                  </div>

                  <div class="col-sm-12 col-lg-6">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside">To</label>
                      <div class="form-wrap form-wrap-inline">
                        <select name="destination_name" id="destination_name" class="form-input select-filter"  data-minimum-results-for-search="Infinity" name="city">
                          <option id="destinationid" value="Choose the destination">Choose the destination</option>
                          {% for destination in destination %}
                          <option id="destinationid" value="{{destination}}">{{destination}}</option>
                          {% endfor %}
                       </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <label class="form-label-outside">Seat_type</label>
                    <div class="form-wrap form-wrap-inline">
                      <select class="form-input select-filter" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city">
                        <option value="{{seat_type[0]}}" selected>{{seat_type[0]}}</option>
                        {% for seat_type in seat_type%}
                        <option value="{{seat_type}}">{{seat_type}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  
                  <div class="col-sm-12 col-lg-6">
                    <label class="form-label-outside">(Minimum) Depart Date</label>
                    <div class="form-wrap form-wrap-validation">
                      <!-- Select -->
                      <input class="form-input" id="start_date" name="start_date" type="text" data-time-picker="date">
                      <label class="form-label" for="start_date">Choose the date</label>
                      <!--select.form-input.select-filter(data-placeholder="All", data-minimum-results-for-search="Infinity",  name='city')-->
                      <!--  option(value="1") Choose the date-->
                      <!--  option(value="2") Primary-->
                      <!--  option(value="3") Middle-->
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <label class="form-label-outside"> (Maximum) Return Date</label>
                    <div class="form-wrap form-wrap-validation">
                      <!-- Select -->
                      <input class="form-input" id="end_date" name="end_date" type="text" data-time-picker="date">
                      <label class="form-label" for="end_date">Choose the date</label>
                      <!--select.form-input.select-filter(data-placeholder="All", data-minimum-results-for-search="Infinity",  name='city')-->
                      <!--  option(value="1") Choose the date-->
                      <!--  option(value="2") Primary-->
                      <!--  option(value="3") Middle-->
                    </div>
                  </div>

                  
                  <div class="col-lg-6">
                    <label class="form-label-outside">Adults</label>
                    <div class="form-wrap form-wrap-modern">
                      <input class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label-outside">Children</label>
                    <div class="form-wrap form-wrap-modern">
                      <input class="form-input input-append" id="form-element-stepper-1" type="number" min="0" max="300" value="0">
                    </div>
                  </div>
                </div>

                <div class="form-wrap form-button">
                  <input type="submit" 
                  name="login" 
                  id="login2" 
                  class="button button-block button-secondary" 
                  value="Search Flights"/>
              </div>
        
              </form>
            </div>
          </div>
        </div>
     
{% endblock %}