{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-6 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
      <h4>Login</h4>
      <!-- RD Mailform-->
      
        <div class="row row-20 row-fix">
          <div class="col-sm-12">
            <label class="form-label-outside">Email</label>
            <div class="form-wrap form-wrap-inline">
              <input class="form-input select-filter" name="email" id="email" type="email" data-placeholder="All" data-minimum-results-for-search="Infinity">
            </div>
          </div>
          <div class="col-sm-12">
            <label class="form-label-outside">password</label>
            <div class="form-wrap form-wrap-iPline">
                <input class="form-input select-filter" name="password" type="password" id="password" data-placeholder="All" data-minimum-results-for-search="Infinity">
            </div>
          </div>
        
        </div>
       
     
        <div class="form-wrap form-button">
          <input type="submit" 
          name="login" 
          id="login2" 
          class="button button-block button-secondary alertifly-button" 
          value="Log in"/>
      </div>


           
          
      <a id="regissign-up" href="/sign-up" class="signup-image-link">Create a new acount</a>            

        </div>
      
    </div>
  </div>
{% endblock %}