{% extends 'base.html' %}
{% block title %} Payment {% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="Payment" href="/payment">Payment</a></li> {% endblock %}

{% block content %}
<style>
  body {
   
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: -10px -15px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container.cart {
 

  }
  select{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;


  }
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

</style>
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-12 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
     

      <div class="row">
        <div class="col-75">
          <div class="container">
            <form action="/action_page.php">
            
              <div class="row">
             
      
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                  </div>
                  <label for="cname">Name on Card</label>
                  <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                  <label for="ccnum">Credit card number</label>
                  <input type="text" id="ccnum" name="cardnumber"  onkeyup="formatCreditCard() placeholder="1111-2222-3333-4444">
                  <label for="expmonth">Exp Month</label>

                  <select id="expmonth" name = "expmonth">
                    <option name="" value="" style="display:none;"></option>
                    <option name="January" value="Jan">January</option>
                    <option name="February" value="Feb">February</option>
                    <option name="March" value="Mar">March</option>
                    <option name="April" value="Apr">April</option>
                    <option name="May" value="May">May</option>
                    <option name="June" value="Jun">June</option>
                    <option name="July" value="Jul">July</option>
                    <option name="August" value="Aug">August</option>
                    <option name="September" value="Sep">September</option>
                    <option name="October" value="Oct">October</option>
                    <option name="November" value="Nov">November</option>
                    <option name="December" value="Dec">December</option>
                  </select>

                  <div class="row">
                    <div class="col-50">
                      <label for="expyear">Exp Year</label>
                      <input type="text" id="expyear" name="expyear" placeholder="2018">
                    </div>
                    <div class="col-50">
                      <label for="cvv">CVV</label>
                      <input type="text" id="cvv" name="cvv" placeholder="352">
                    </div>
                  </div>
                </div>
                
              </div>
              
              <div class="form-wrap form-button">
                <input type="submit" 
                name="login" 
                id="login2" 
                class="button button-block button-secondary alertifly-button" 
                value="Continue to checkout"/>
            </div>


            </form>
          </div>
        </div>
        <div class="col-25">
          <div class="container cart">
            <h4>Ticket <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b></b></span></h4>

            <p><a>Source_name</a> <span class="price">{{ticket.source_name}}</span></p>
            <p><a>Destination name</a> <span class="price">{{ticket.destination_name}}</span></p>
            <p><a>Departure_date</a> <span class="price">{{ticket.departure_date}}</span></p>
            <p><a>Return_date</a> <span class="price">{{ticket.return_date}}</span></p>
            <p><a>Price</a> <span class="price">{{ticket.price}}</span></p>
            <p><a>Airline</a> <span class="price">{{ticket.airline}}</span></p>
          </div>
        </div>
      </div>


    </div>
  </div>
 
  
{% endblock %}

{% block other_script %}
  <script>
      $('.website_copyright').get(0).innerHTML = 'W3 schools' 
      $('.website_copyright').get(0).href = 'https://www.w3schools.com/howto/howto_css_checkout_form.asp' 
      $('#ccnum').keypress(function(){
        var rawNumbers = $(this).val().replace(/-/g,'');
        var cardLength = rawNumbers.length;
        if(cardLength !==0 && cardLength <=12 && cardLength % 4 == 0){
          $(this).val($(this).val()+'-');
        }
       });
    </script>
{% endblock %}