{% extends 'base.html' %}
{% block title %} Profile{% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="profile" href="/">My Profile</a></li> {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-6 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
      <h4>Edit your profile</h4>
      <!-- RD Mailform-->
      
        <div class="row row-20 row-fix">
        
          <div class="col-lg-6">
              <label class="form-label-outside">Email</label>
              <div class="form-wrap form-wrap-inline">
                <input class="form-input select-filter" type="email" name="email" id="email" type="email" data-placeholder="All" data-minimum-results-for-search="Infinity">
              </div>
            </div>
            <div class="col-lg-6">
              <label class="form-label-outside">Full Name</label>
              <div class="form-wrap form-wrap-iPline">
              <input class="form-input select-filter" name="firstName" id="firstName" data-placeholder="All" data-minimum-results-for-search="Infinity" min="2" max="3">
              </div>
          </div>
     
           <div class="col-lg-6">
              <label class="form-label-outside">passwrod</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="password" id="password" type="password" min="8">
              </div>
            </div>
            <div class="col-lg-6">
              <label class="form-label-outside">confirmed Password</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="confirmedPassword" id="confirmedPassword" type="password" min="8">
           </div> 
          </div>  


           <div class="col-lg-6">
              <label class="form-label-outside">Phone number</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="phone" id="phone" type="number">
              </div>
            </div>
            <div class="col-lg-6">
              <label class="form-label-outside">zipcode</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="zipcode" id="zipcode" type="text">
           </div>   
          </div>


          <div class="col-lg-6">
              <label class="form-label-outside">city</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="city" id="city" type="text" min="0" max="300">
              </div>
            </div>
            <div class="col-lg-6">
              <label class="form-label-outside">country</label>
              <div class="form-wrap form-wrap-modern">
                <input class="form-input input-append" name="country" id="country" type="text" min="0" max="300">
           </div>   
          </div>
      </div>


          <div class="form-wrap form-button">
            <input type="submit" 
            name="profile" 
            id="profile" 
            class="button button-block button-secondary alertifly-button" 
            value="Edit profile"/>
        </div>
         

        </div>
      
    </div>
  </div>
{% endblock %}