{% extends 'base.html' %}
{% block title %} Profile{% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="profile" href="/">My Account</a></li> {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-6 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
      
      <!-- RD Mailform-->
      
        <div class="row row-20 row-fix">
        
          <div class="col-lg-6">
              <label class="form-label-outside">Email: </label>
              <label class="form-wrap form-wrap-iPline">{{current_user.email}}</label>
          </div>
        <div class="col-lg-6">
              <label class="form-label-outside">Full Name: </label>
              <label class="form-wrap form-wrap-iPline">{{current_user.first_name}}</label>    
          </div>
     
          <div class="col-lg-6">
            <label class="form-label-outside">Phone number</label>
            <label class="form-wrap form-wrap-iPline">{{current_user.phonenumber}}</label>   
          </div>

          <div class="col-lg-6">
            <label class="form-label-outside">zipcode</label>
            <label class="form-wrap form-wrap-iPline">{{current_user.zipcode}}</label>   
        </div>


        <div class="col-lg-6">
            <label class="form-label-outside">city</label>
            <label class="form-wrap form-wrap-iPline">{{current_user.city}}</label>    
          </div>

          <div class="col-lg-6">
            <label class="form-label-outside">country</label>
            <label class="form-wrap form-wrap-iPline">{{current_user.country}}</label>  
         </div>


      
      </div>

      <a id="regissign-up" href="/edit-user" class="button signup-image-link" style="font-size: larger;margin-top: 15px;">Go to Edit page</a>            
         

        </div>
      
    </div>
  </div>
{% endblock %}