{% extends 'base.html' %}
{% block title %} User cart {% endblock %}
{% block rd_navbar_nav_active %} <li class="active"><a id="User_cart" href="/user_cart">User cart</a></li> {% endblock %}

{% block content %}
<div class="row row-fix justify-content-sm-center justify-content-lg-end">
  <div class="col-lg-12 col-xxl-5">
    <div class="form-request form-request-modern bg-gray-lighter novi-background">
        
        <h4>History of previously purchased tickets</h4>
        <!-- RD Mailform-->
        <form class="rd-mailform form-fix">
          <div class="row row-20 row-fix">             
          </div>
     

     
              
    </div>
  </div>
{% endblock %}