{% extends "base.html" %} 
{% block title %}login{% endblock %}

{% block content %}
<form method="POST" action="/edit-user">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class="form-control"
        id="email"
        name="email"
        value="{{current_user.email}}"/>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        type="text" 
        class="form-control"
        id="firstName"
        name="firstName"
        value="{{current_user.first_name}}"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
     
</form>
{% endblock %}